{% extends 'base.html' %}

{% block content %}

<h1 class="text-center m-5">Edit Private Recipe</h1>


{% for error in form.non_field_errors %}
    <div class="form-group has-errors text-danger text-center">{{error|escape}}</div>
{% endfor %}

{% for field in form %}
    {% for error in field.errors %}
        <div class="form-group has-errors text-danger text-center">{{error|escape}}</div>
    {% endfor %}
{% endfor %}

<form method="post" class="form-signin">
    {% csrf_token %}

    <!-- Add Recipe form -->
    {% for field in form %}
        <p>
            {{ field }}
        </p>
    {% endfor %}

    <!-- Ingredient forms -->
    {{ formset.management_form }}
    {% for ingredient_form in formset %}
        <!-- Ingredient form errors -->
        {% for ingredient_error in ingredient_form.non_field_errors %}
            <div class="form-group has-errors text-danger text-center">{{ingredient_error|escape}}</div>
        {% endfor %}

        <!-- Ingredient form field -->
        <div>
            {% for ingredient_field in ingredient_form %}
                <!-- Ingredient form field errors -->
                {% for ingredient_error in ingredient_field.errors %}
                    <span class="form-group has-errors text-danger">{{ingredient_error|escape}}</span>
                {% endfor %}

                <!-- Ingredient field -->
                <span>
                    {{ ingredient_field }}
                </span>
            {% endfor %}
        </div>
    {% endfor %}
    <div style="display:flex">
        <button id="submit" type="submit" class="btn btn-dark btn-block btn-lg mt-5">Save</button>
        <a id="cancel" class="btn btn-warning btn-block btn-lg mt-5" href="{% url 'recipe:recipe_full_view' recipe_id %}"> Cancel </a>
        <a id="delete" class="btn btn-danger btn-block btn-lg mt-5" href="{% url 'recipe:delete_recipe_view' recipe_id %}"> Delete </a>
    </div>
</form>

{% endblock %}

{% block footer %}
    <script>
        $(document).on('click', '#cancel', function(){
            return confirm('Any unsaved changes will be discarded.');
        })
        $(document).on('click', '#delete', function(){
            return confirm('This item will not be recoverable.\nAre you sure you still want to delete this?');
        })
    </script>
{% endblock %}
