{% extends 'base.html' %}

{% block head %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'recipe/slideout.css' %}" />
  <link rel="stylesheet" href="{% static 'recipe/ingredientsmenu.css' %}" />
{% endblock %}

{% block slide_out %}
<div class="">
  <button class="toggle-button" type="button" data-toggle="collapse"><img src="{% static 'recipe/images/Hamburger_Button.png' %}" class="hamburger-menu-button"/>
  </button>
</div>
{% endblock %}

{% block precontent %}
  {% include 'recipe/ingredientsmenu.html' %}
{% endblock %}

{% block footer %}
  {% load staticfiles %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
  <script src="{% static 'recipe/slidefunctionality.js' %}"></script>
  <script src="{% static 'recipe/ingredientsmenu.js' %}"></script>
{% endblock %}
