<div id="menu">
  <h2>Choose your ingredients</h2>
  <hr />
  <div class="search">
    <div class="form-group search-bar search-drop-down">
      <input type="text" placeholder=" Search Ingredients..." id="myInput" class="filterFunction">
      <div id="searchDropdown" class="dropdown-content">
        {% if ingredients_list %}
          {% for ingredient in ingredients_list %}
            <a class="searched-ingredient">{{ ingredient.name }}</a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div id="list-ingredients">
    {% if sorted_group_dict %}
      {% for group, ingredients in sorted_group_dict %}
        <div class="list-group">
          <div class="row" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-{{ group }}">
            <div class="col-xs-2 mr-1">
              <img class="img-fluid update-image" style="height: 1rem;" src="" alt="">
            </div>
            <div class="col-xs-10">
              <h4>{{ group }}</h4>
            </div>
          </div>
          <div id="collapse-{{ group }}" class="collapse update-on-expand">
            <div>
              <ul class="mt-2">
                {% for ingredient in ingredients %}
                  <div class="single-ingredient pretty p-default p-thick">
                    <input class="checkbox update-list" type="checkbox" value="{{ ingredient }}" label="{{ingredient}}">
                    <div class="state p-info-o">
                      <label class="text-dark checkbox-label"> {{ ingredient }}</label>
                    </div>
                  </div>
                  <br />
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h3>Couldn't get ingredients from the server.</h3>
    {% endif %}
    {# <h2 style="margin-top:50px;">Additional Filters</h2> #}
    <hr />
    {# Appliances Filter #}
      {% if appliances %}
        <div class="list-group">
          <div class="row" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-appliance">
            <div class="col-xs-2 mr-1">
              <img class="img-fluid update-image" style="height: 1rem;" src="" alt="">
            </div>
            <div class="col-xs-10">
              <h4>Appliances</h4>
            </div>
          </div>
        </div>
        <div id="collapse-appliance" class="collapse update-on-expand">
          <div>
            <ul class="mt-2">
              {% for app in appliances %}
                <div class="single-ingredient pretty p-default p-thick">
                  <input class="checkbox update-appliance" type="checkbox" value="{{app}}" label="{{app}}">
                  <div class="state p-info-o">
                    <label class="text-dark checkbox-label">{{app}}</label>
                  </div>
                </div>
                <br />
              {% endfor %}
            </ul>
          </div>
        </div>
    {% endif %}
    {# Difficulty #}
    {% if difficulties %}
      <div class="list-group">
        <div class="row" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-difficulties">
          <div class="col-xs-2 mr-1">
            <img class="img-fluid update-image" style="height: 1rem;" src="" alt="">
          </div>
          <div class="col-xs-10">
            <h4>Difficulty</h4>
          </div>
        </div>
      </div>
      <div id="collapse-difficulties" class="collapse update-on-expand">
        <div>
          <ul class="mt-2">
            {% for diff in difficulties %}
              <div class="single-ingredient pretty p-default p-thick">
                <input class="checkbox update-difficulty" type="checkbox" value="{{diff}}" label="{{diff}}">
                <div class="state p-info-o">
                  <label class="text-dark checkbox-label">{{diff}}</label>
                </div>
              </div>
              <br />
            {% endfor %}
          </ul>
        </div>
      </div>
  {% endif %}
    {# Time #}
    {% if time %}
      <div class="list-group">
        <div class="row" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-times">
          <div class="col-xs-2 mr-1">
            <img class="img-fluid update-image" style="height: 1rem;" src="" alt="">
          </div>
          <div class="col-xs-10">
            <h4>Time</h4>
          </div>
        </div>
      </div>
      <div id="collapse-times" class="collapse update-on-expand">
        <div>
          <ul class="mt-2">
            {% for t in time %}
              <div class="single-ingredient pretty p-default p-thick">
                <input class="checkbox update-time" type="checkbox" value="{{t}}" label="{{t}}">
                <div class="state p-info-o">
                  <label class="text-dark checkbox-label">Less than {{t}} minutes</label>
                </div>
              </div>
              <br />
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
    <hr />
  </div>
  <div>
    <button id="clear-ingredients" type="button" class="btn btn-dark btn-md">Clear All</button>
  </div>
</div>
