{% extends 'base.html' %}

{% block head %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'recipe/recipe_summary.css' %}" />
{% endblock %}

{% block content %}
<div class="content">
  <h1>My Recipes:</h1>
  {% if my_recipes %}
    {% for recipe in my_recipes %}
      <hr />
      <a class="recipe-summary" href="{% url 'recipe:recipe_full_view' recipe.id %}">
        <img src="{{recipe.image_url}}"/>
        <div>
          <h3>{{recipe.title}}</h3>
          <p>{{recipe.summary}}</p>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <p>You have not added any recipes.</p>
  {% endif %}
</div>
{% endblock %}
