{% extends 'base.html' %}

{% block head %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'recipe/full_recipe.css' %}" />
{% endblock %}

{% block content %}
{% if current_recipe %}
  <div class="content">
    {% if current_recipe.user.id == user.id %}
        <a class="btn btn-dark btn-sm" href="{% url 'recipe:edit_private_recipe' current_recipe.id %}">Edit</a>
    {% endif %}
    <img src="{{current_recipe.image_url}}" />
    <h1>{{current_recipe.title}}</h1>
    <div class="text-center">
      {% if current_recipe.source_url %}
        <a class="source-url" href="{{current_recipe.source_url}}">{{ current_recipe.source_url | truncatechars:50 }}</a>
      {% endif %}
    </div>
    <p class="text-center">Time: {{current_recipe.time}} minutes <span class="spacing"></span> Difficulty: {{current_recipe.get_difficulty_display}}</p>
    <h2>{{current_recipe.summary}}</h2>
    <hr />
    {% if ingredients %}
      <div class="ingredients-list">
        {% for ingredient in ingredients %}
          <div>
            {{ingredient.amount}} {{ingredient.unit}} {{ingredient.ingredient}}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <hr />
    <div class="instructions">
      <p>{{current_recipe.instructions | safe}}</p>
    </div>
  </div>

  <!-- Comment Form -->
  {% if user.is_authenticated %}
  <form method="post" class="form-signin">
    {% csrf_token %}
    {{comment_form.content}}
    <button type="submit" class="btn btn-dark btn-block btn-lg mt-5">Submit Comment</button>
  </form>
  {% endif %}

  <!-- Comments -->
  <h2> Comments </h2> 
  {% for comment in comments %}
    <div>
      {{comment.content}}
    </div>
  {% endfor %}

{% else %}
  <p>Could not load selected recipe.</p>
{% endif %}
{% endblock %}
