{% extends 'base.html' %}

{% block content %}

<!--Refer to http://www.techinfected.net/2016/11/style-django-forms-with-bootstrap.html-->

<h1 class="text-center m-5"> Login </h1>
  {% for error in form.non_field_errors %}
    <div class="form-group has-errors text-danger text-center">{{error|escape}}</div>
  {% endfor %}

  {% for field in form %}
    {% for error in field.errors %}
      <div class="form-group has-errors text-danger text-center">{{error|escape}}</div>
    {% endfor %}
  {% endfor %}

<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field }}
    </p>
  {% endfor %}
  <div class="text-center m-5">
    <button type="submit" class="btn btn-dark text-center">Login</button>
  </div>
</form>

{% endblock %}
