{% extends 'base.html' %}

{% block content %}

<h1 class="text-center m-5">Create account</h1>

<!-- Refer to https://docs.djangoproject.com/en/1.11/topics/forms/
			  https://docs.djangoproject.com/en/1.11/ref/forms/api/ -->

<ul>
	{% for error in form.non_field_errors %}
		<div class="form-group has-errors text-danger text-center">{{error|escape}}</div>
	{% endfor %}

	{% for field in form %}
		{% for error in field.errors %}
			<div class="form-group has-errors text-danger text-center">{{error|escape}}</div>
		{% endfor %}
	{% endfor %}
</ul>

<form method="post">
	{% csrf_token %}
	{% for field in form %}
		<p>
			{{ field }}
		</p>
	{% endfor %}
	<div class="text-center m-5">
		<button type="submit" class="btn btn-dark">Submit</button>
	</div>
</form>

{% endblock %}
