{% extends 'admin/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.css">
{% endblock %}

{% block footer %}
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  // Select all single select
  choose = $('select:not([multiple])');
  // Activate Chosen library
  choose.chosen();
  // Hacks to make menus show up above other elements. It has some issues...
  choose.parent().css('overflow', 'visible');
  choose.closest('.form-row').css('overflow', 'visible');
});
</script>
{% endblock %}
