.content {
  font-family: "Raleway";
  width: 65%;
  margin: auto;
  margin-bottom: 30px;
  min-width: 200px;
  position: relative;
}

.ingredient-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
}

.ingredient-input {
  width: auto;
}

.drop-down-ingredient-search {
  vertical-align: middle;
}

.cancel-delete {
  position: absolute;
  right: 10px;
}

#cancel {
  background-color: #ffd180;
  color: #263238;
  border: none;
}

#delete {
  background-color: #ff8a80;
  color: #263238;
  margin-left: 20px;
  margin-right: 20px;
}
