body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 56px;
  bottom: 0;
  width: 50%;
  min-width: 300px;
  min-height: 100vh;
  padding: 30px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  display: none;
  background-color: #f0f0f1fa;
  color: #263238; /* Bootstrap blue-grey darken-4 */
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 0;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
  transform: translateX(0px) !important;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.hamburger-menu-button {
  height: 40px;
  width: 56px;
}

button {
  padding:0;
  border-style: none;
}

button:hover {
  cursor: pointer;
}

.list-group {
  margin-bottom: 10px;
}

.list-group img {
  margin-left: 20px;
  margin-right: 10px;
}

#menu {
  font-family: "Raleway";
}

#menu hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkbox {
  background-color: black;
}

.single-ingredient {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.update-list {
  margin-bottom: 0px;
}

.checkbox-label {
  margin-left: 10px !important;
}
